<style>
    .centralizar {
 
        padding:5px;
        color: #000000;
    }

    .footer .rodape {
     
        color: #FFFFFF;
        font-size: 10px;
    }

    footer {
        background: #772953;
         }
</style>

<div class="centralizar">
    <div class="rodape">GPC - Guild Painel de Controle| Email: swguildgpc@gmail.com</div>
</div>