<style>
    .centralizar {
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
}

    .footer .rodape {
        margin-top: 30px;
        float: left;
        width: 100%;
        color: #FFFFFF;
        font-size: 10px;
    }

    footer {
    float: left;
    width: 100%;
    background: #268f97;
    padding: 50px 0;
}
</style>

<div class="centralizar">
    <div class="rodape">GPC - Guild Painel de Controle| Email: swguildgpc@gmail.com</div>
</div>