@{
    ViewBag.Title = "Confirmação Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado pela confirmação do seu cadastro. Por favor @Html.ActionLink("clique aqui para se logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
