@{
    ViewBag.Title = "Confirmação - Esqueceu a Senha";
    ViewBag.MetaDescription = "Funcionalidade para confirmar a redefinição da senha.";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique seu email com as instruções para redefinir sua senha.
    </p>
</div>
	
