@{
    ViewBag.Title = "Confirmação de redifinição de senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Sua senha foi redefinida com sucesso. Por favor @Html.ActionLink("clique aqui para se logar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        
    </p>
</div>
