@model IEnumerable<GPCLib.Models.GuildaModels>

@{
    ViewBag.Title = "Guilda";
}

<h2>Guildas</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Adicionar Players", "GuildaPlayer", new { id = item.Id }) 
                
            </td>
        </tr>
    }

</table>
