@{
    ViewBag.Title = "Sobre GPC";
}
<h2>@ViewBag.Title.</h2>


<p>O GPC - Guilda Painel de Controle surgiu como uma iniciativa independente, pois eu como líder de Guilda tinha uma vontade de tornar o controle mais profissional. Conseguir identificar quem são os jogadores que não respeitam as regras,
    como é nosso padrão de ataques e defesas, quais são nossos melhores times de defesa. </p> 
<p>
    Manter um histórico de todas as GVGs, o ranking, quem são nossos melhores atacantes, e os melhores defensores? Tentei criar funcionalidades e relatórios que respondam a estas perguntas.
    Abaixo vou explicar como esta ferramenta funciona.
</p>

<p>
    O site está em constante evolução, e aceito sugestões para torná-lo cada vez melhor. 
</p>

<h1>Como Funciona?</h1>

<h4>SWProxy</h4>
<p>Summoners War Data Extractor and Parser</p>
<h4>Ferramenta atualização Dados</h4>
<h4>Site</h4>


<h1>Funcionalidades</h1>

<h1>Quanto custa?</h1>


