@{
    ViewBag.Title = "Sobre GPC";
}
<h2>@ViewBag.Title.</h2>


<p>O GPC - Guilda Painel de Controle surgiu como uma iniciativa independente, pois eu como líder de Guilda tinha uma vontade de tornar o controle mais profissional. Conseguir identificar quem são os jogadores que não respeitam as regras,
    como é nosso padrão de ataques e defesas, quais são nossos melhores times de defesa. </p> 
<p>
    Manter um histórico de todas as GVGs, o ranking, quem são nossos melhores atacantes, e os melhores defensores? Tentei criar funcionalidades e relatórios que respondam a estas perguntas.
    Abaixo vou explicar como esta ferramenta funciona.
</p>

<p>
    O site está em constante evolução, e aceito sugestões para torná-lo cada vez melhor. 
</p>

<h1>Como Funciona?</h1>

<p>
    Para ter todo esse controle dito acima, o que é mais importante são os dados. Mas como tirar as informações de dentro do Summoners War e passar para o site? Para isso foi desenvolvido um aplicativo que deve ser executado em seu computador.
</p>
    <p>
    Ele é integrado com o SWProxy desenvolvido por um membro da comunidade (<a href="https://github.com/kakaroto">kakaroto</a>).
    O proxy intercepta os dados enviado para o jogo e gera um arquivo em seu computador. O aplicativo GPC lê este arquivo e envia para o site. Todo o processo não demora mais do que 5 min.
</p>
<p>
    Então o único trabalho que você tem é que durante uma GVG você deve atualizar ao menos 1 vez. Ou seja, em um período de 12h, você precisa gastar apenas 5 min do seu tempo.
</p>
<p>
    <img src="~/Resources/diagrama.png" />
</p>
<h4>SWProxy</h4>
<p>Summoners War Data Extractor and Parser</p>
<h4>Ferramenta atualização Dados</h4>
<h4>Site</h4>


<h1>Funcionalidades</h1>

<h1>Quanto custa?</h1>


