@{
    ViewBag.Title = "Sobre GPC";
}
<h2>@ViewBag.Title.</h2>


<p>O GPC - Guilda Painel de Controle surgiu como uma iniciativa independente, pois eu como líder de Guilda tinha uma vontade de tornar o controle mais profissional. Conseguir identificar quem são os jogadores que não respeitam as regras,
    como é nosso padrão de ataques e defesas e quais são nossos melhores times de defesa? </p> 
<p>
    Manter um histórico de todas as GVGs, o ranking, quem são nossos melhores atacantes, e os melhores defensores? Tentei criar funcionalidades e relatórios que respondam a estas perguntas.
    Abaixo vou explicar como esta ferramenta funciona.
</p>

<p>
    O site está em constante evolução, e aceito sugestões para torná-lo cada vez melhor. 
</p>

<h1>Como Funciona?</h1>

<p>
    Para ter todo esse controle citado acima, o mais importante são os dados. Mas como tirar as informações de dentro do Summoners War e passar para o site? Para isso foi desenvolvido um aplicativo que deve ser executado em seu computador.
</p>
    <p>
    Ele é integrado com o SWProxy desenvolvido por um membro da comunidade (<a href="https://github.com/kakaroto">kakaroto</a>).
    O proxy intercepta os dados enviado para o jogo e gera um arquivo em seu computador. O aplicativo GPC lê este arquivo e envia para o site. Todo o processo não demora mais do que 5 min.
</p>
<p>
    Então o único trabalho que você tem é que durante uma GVG você deve atualizar ao menos 1 vez. Ou seja, em um período de 12h, você precisa gastar apenas 5 min do seu tempo.
</p>
<p>
    <img src="~/Resources/diagrama.png" />
</p>
<h1>Passo a Passo</h1>
<h4>1- Iniciar o Proxy</h4>
1.1) Executar o arquivo Proxy.exe<p></p>
1.2) Na primeira utilização não esquecer de configurar o local onde será gravado o arquivo que será capturado do jogo. <p></p>
1.2.1) Habilitar a opção "Full Logger"
<p></p>
<img src="~/Resources/proxy01.png" />

<h4>2- Abrir DemonOrange.exe</h4>
<img src="~/Resources/gpc01.png" />
<h4>3- Iniciar o Jogo</h4><p></p>
Se estiver tudo certo, enquanto o jogo abre já é possível ver o proxy em funcionamento.<p></p>
<img src="~/Resources/proxy02.png"  width="80%"/>

<h4>4.1 - Atualizando a GVG</h4><p></p>
4.1.1)Abra a tela principal da GVG.<br /> Neste momento, já deve ficar "verde" as 3 últimas linhas no GPC.
<div style="color:red">
    Importante!
</div>As vezes (ainda não identifiquei o motivo) este passo falha. 2 coisas podem ser feitas:<br />
1) Entra e saia de uma luta no cenário, geralmente eu vou no primeiro mapinha. <br />
2) Recomeçar tudo. Fechar o Jogo e o proxy e abrir novamente.<p></p>
Uma coisa que aprendi foi, quando o jogo abrir, espere alguns segundos (aproximadamente 30seg) antes de abrir a página da GVG. Fazendo este procedimento, raramente tenho problemas. <br />
<img src="~/Resources/proxy03.png" width="80%" /><p></p>
4.1.2)Clique em "Info de Batalha de Grupos". Mais uma linha deve ficar verde.<br />
<img src="~/Resources/proxy04.png" width="80%" /><p></p>
4.1.3)Clique em "Registro de Batalhas"<br />
<img src="~/Resources/proxy05.png" width="80%" /><p></p>
4.1.4)Clique em "Contribuição"<br />
<img src="~/Resources/proxy06.png" width="80%" /><p></p>
4.1.5)Pronto! Agora todas as linhas devem estar verdes. Basta pressionar o botão "Atualizar Dados GVG" e esperar alguns segundos.<br />
4.1.6)Só isso. Todo o processo deve demorar apenas alguns minutos. <br />


<h4>4.2 - Atualizando Defesas</h4>
<h4>5 - Atualizando a Siege</h4>

<h1>Funcionalidades</h1>

<h1>Quanto custa?</h1>


