@{
    ViewBag.Title = "Contato";
    ViewBag.MetaDescription = "Dados de contato. Informações do email para os usuários entrarem em contato.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
 www.gpcsw.party
</address>

<address>
    <strong>Dúvidas:</strong>   <a href="mailto:swguildgpc@gmail.com">swguildgpc@gmail.com</a><br />
    
</address>