@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
 www.demonorange.party
</address>

<address>
    <strong>Dúvidas:</strong>   <a href="mailto:swguildgpc@gmail.com">swguildgpc@gmail.com</a><br />
    
</address>