<div class="row">

    
    <div class="col-md-12">
        <h3 class="h3cus">Download</h3>
     </div>

</div>
<div class="row">

    <div class="col-md-12">
        <h3 class="h3cus">V1.0: <a href="www.demonrange.party\download\GPCSW.zip"> DOWNLOAD</a></h3>
    </div>

</div>
<div class="row">

    <div class="col-md-12">
        <h5 class="h3cus">Funcionalidades Previstas para as próximas versões</h5>
    </div>

</div>
<div class="row">

    <div class="col-md-12">
        <ul>
            <li>Exibir qual time da GVG ganhou ou perdeu a defesa. Hoje exibe o resultado das 2 lutas </li>
            <li>Gravar os ataques recebidos pela Guild e pelos players.</li>
            <li>Colocar imagem para os integrantes da Guild.</li>
        </ul>
    </div>

</div>